client/__pycache__/

server/node_modules
server/web/static/
server/Pip*
server/Pipfile*
server/__pycache__
server/.idea
server/.vscode
server/celerybeat*
server/.local
server/*.log
server/*.log.*
server/.ash_history
server/.bash_history
server/.python_history
server/.coverage
server/.cache
server/web/media/*
server/htmlcov
server/venv
server/backup
server/*.crt
server/*.key
server/build
server/*.mo
server/coverage.xml
server/modules.txt
server/db.sqlite3
